[Unit]
Description=Finger

[Service]
ExecStart=/usr/local/bin/node /var/www/finger/app.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/finger/

[Install]
WantedBy=multi-user.target